Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  -modernize-use-auto,
  performance-*,
  -performance-avoid-endl,
  portability-*,
  -portability-template-virtual-member-function,
  readability-*,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -cppcoreguidelines-avoid-do-while,
  -clang-diagnostic-c++17-extensions

WarningsAsErrors: ""
HeaderFilterRegex: "^(?!.*/(build|vcpkg_installed)/)"
InheritParentConfig: false
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: aNy_CasE
  - key: readability-identifier-naming.PrivateMemberCase
    value: aNy_CasE
  - key: readability-identifier-naming.ProtectedMemberCase
    value: aNy_CasE
  - key: readability-identifier-naming.MemberIgnoredRegexp
    value: "^_.*"
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: "^_.*"
  - key: readability-identifier-naming.ProtectedMemberIgnoredRegexp
    value: "^_.*"
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.LocalConstantCase
    value: camelBack
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key: modernize-loop-convert.MaxCopySize
    value: 32
  - key: modernize-pass-by-value.IncludeStyle
    value: google
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: "^(TEST_CASE|SECTION|REQUIRE|REQUIRE_FALSE|REQUIRE_THROWS_AS|REQUIRE_NOTHROW|CHECK|INFO|BENCHMARK).*"
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: true
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: "^(TEST_CASE|SECTION|REQUIRE|REQUIRE_FALSE|REQUIRE_THROWS_AS|REQUIRE_NOTHROW|CHECK|INFO|BENCHMARK).*"
  - key: readability-identifier-naming.VariableIgnoredRegexp
    value: "^(TEST_CASE|SECTION|REQUIRE|REQUIRE_FALSE|REQUIRE_THROWS_AS|REQUIRE_NOTHROW|CHECK|INFO|BENCHMARK).*"
