Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  misc-const-correctness,
  cppcoreguidelines-pro-type-cstyle-cast,
  -modernize-use-trailing-return-type,
  -modernize-use-ranges,
  -modernize-use-auto,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ""
HeaderFilterRegex: "^(?!.*/(build|vcpkg_installed)/)"
InheritParentConfig: false
FormatStyle: file

