name: CI

on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.10.0

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        id: runvcpkg
        with:
          vcpkgDirectory: ${{ github.workspace }}/vcpkg
          vcpkgJsonGlob: 'vcpkg.json'
          vcpkgGitCommitId: '594ad8871e1e8e45f8e626c015fd611163430207'

      - name: Configure CMake
        shell: pwsh
        env:
          VCPKG_TARGET_TRIPLET: x64-windows-release
          VCPKG_OVERLAY_TRIPLETS: ${{ github.workspace }}/triplets
        run: |
          cmake -S . -B build -G "Ninja" `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake"

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        run: ctest --test-dir build --output-on-failure
