name: Lint

on:
  push:
    branches: [ main, "feature/*" ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ninja
        run: choco install ninja --no-progress -y

      - name: Setup LLVM (clang-format/clang-tidy)
        run: choco install llvm --no-progress -y

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'

      - name: Run linter script
        shell: pwsh
        run: pwsh scripts/run-lint.ps1
